.catalog {
  padding-top: calc(65px - (1920px - 100vw) / (1920 - 770) * (65 - 50));
  padding-bottom: calc(114px - (1920px - 100vw) / (1920 - 770) * (114 - 45));
  background-color: $color-dark;
}

.catalog__title {
  @include font(36px, 51px, 400, $color-default-white);
  margin: 0 0 calc(50px - (1920px - 100vw) / (1920 - 770) * (50 - 40));
}

.catalog__image {
  height: 650px;
  object-fit: cover;
  width: 100%;

  @include vp-1023 {
    width: 100%;
    height: 100%;
  }
}

.catalog__title-mobile {
  display: none;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(85px - (1920px - 100vw) / (1920 - 770) * 85);
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-lightblue;
    right: 0;
    bottom: 0;
    background-image: url("../img/svg/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }
}

.catalog__item:hover {

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-whitw-20;
  }
}

.catalog__item p {
  @include font(20px, 30px, 400, $color-default-white);
  position: absolute;
  top: calc(50px - (1920px - 100vw) / (1920 - 770) * (50 - 35));
  left: 40px;
  margin: 0;
  width: 160px;
}

.catalog__breake {
  display: none;
}

@media (max-width: $vp-770) {
  .catalog__breake {
    display: block;
  }

  .catalog__title {
    @include vp-767 {
      display: none;
    }
  }

  .catalog__image {
    object-fit: cover;
    height: 250px;
  }

  .catalog__title-mobile {
    @include vp-767 {
      display: block;

      @include font(28px, 39px, 400, $color-default-white);
      margin: 0 0 30px;
    }
  }

  .catalog__item p {
    width: 150px;
  }
}

@media (max-width: $vp-320) {
  .catalog {
    padding-top: 45px;
    padding-bottom: 55px;
  }

  .catalog__item p {
    @include font(18px, 30px, 400, $color-default-white);
    left: 30px;
    top: 25px;
  }
}
