.feedback {
  background-image: url("../img/background-feedback.jpg");
  background-size: cover;
  padding-top: calc(160px - (1920px - 100vw) / (1920 - 770) * (160 - 44));
  padding-bottom: calc(250px - (1920px - 100vw) / (1920 - 770) * (250 - 125));
  background-color: $color-lightblue;
  background-repeat: no-repeat;
  height: calc(840px - (1920px - 100vw) / (1920 - 770) * (840 - 580));
  position: relative;

  @include vp-1023 {
    background-image: none;
  }

  @include vp-767 {
    padding-top: 45px;
    height: 750px;
  }
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__wrapper img {
  z-index: 20;

  @include vp-1439 {
    display: none;
  }
}

.feedback__form {
  padding-left: 120px;
  padding-right: 10px;
  z-index: 50;

  @include vp-1439 {
    padding-left: calc(120px - (1920px - 100vw) / (1920 - 770) * 120);
    padding-right: 0;
  }

  @include vp-767 {
    width: 100%;
  }
}

.feedback__form h2 {
  @include font(36px, 51px, 400, $color-default-white);
  margin: 0 0 10px;

  @include vp-767 {
    font-size: calc(36px - (770px - 100vw) / (770 - 320) * (36 - 30));
    width: 100%;
    margin: 0 0 5px;
  }
}

.feedback__form p {
  @include font(16px, 22px, 400, $color-default-white);
  font-family: $second-font;
  margin: 0 0 35px;

  @include vp-1439 {
    margin: 0 0 25px;
  }

  @include vp-767 {
    @include font(14px, 19px, 400, $color-default-white);
    margin-bottom: 35px;
  }
}

.feedback__fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;

  @include vp-767 {
    flex-direction: column;
  }
}

.feedback__fields input {
  width: 275px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: $color-dark-15;
  padding: 10px 15px 15px;
  margin-bottom: 20px;

  &::placeholder {
    @include font(16px, 22pz, 400, $color-default-white);
    font-family: $second-font;
  }

  @include vp-1439 {
    width: 320px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.feedback__fields textarea {
  padding: 30px 15px 25px;
  width: 580px;
  height: 155px;
  background-color: $color-dark-15;
  border: none;
  border-radius: 3px;

  &::placeholder {
    @include font(16px, 22pz, 400, $color-default-white);
    font-family: $second-font;
  }

  @include vp-1439 {
    width: 100%;
  }
}

.feedback__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.feedback__buttons button {
  grid-column-start: 1;
  grid-row-start: 1;

  @include vp-767 {
    order: -1;
  }
}

.feedback__form button {
  width: 265px;
  padding: 15px 0 12px;

  @include font(16px, 19px, 700, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: $color-dark;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $color-dark-50;
  }

  @include vp-767 {
    margin-bottom: 25px;
    width: 100%;
  }
}

.feedback__checkbox {
  grid-column-start: 2;
  padding-left: 50px;
  align-self: flex-end;
  position: relative;
  cursor: pointer;

  @include vp-1439 {
    padding-left: 40px;
  }

  @include vp-767 {
    padding-left: 30px;
    align-self: center;
  }
}

.feedback__buttons label {
  display: block;
  cursor: pointer;

  @include font(14px, 16px, 400, $color-default-white);
  font-family: $second-font;
  width: 234px;
  user-select: none;
}

.feedback__checkbox input+label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  top: 5px;
  left: 25px;

  @include vp-1439 {
    left: 15px;
  }

  @include vp-767 {
    left: 0;
  }
}

.feedback__checkbox input:checked+label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-ok.png");
  background-repeat: no-repeat;
  background-position: center;
  top: 5px;
  left: 25px;

  @include vp-1439 {
    left: 15px;
  }

  @include vp-767 {
    left: 0;
  }
}

.feedback__checkbox input:focus+label {
  outline: 1px solid $color-default-white;
  outline-offset: 2px;
}

@media (max-width: $vp-320) {
  .feedback__form h2 {
    @include font(30px, 43px, 400, $color-default-white);
  }

  .feedback__fields textarea {
    height: 180px;
  }

  .feedback__buttons {
    transform: translateY(-5px);
  }
}
