.footer {
  height: auto;
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: $color-dark;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 30.73% 1fr 28.27%;
  padding: 0 calc(350px - (1920px - 100vw) / (1920 - 770) * (350 - 50));

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }
}

.footer__block-logo {
  @include vp-1023 {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.footer__logo-title {
  padding-left: 15px;
}

.footer__logo h3 {
  @include font(25px, 29px, 700, $color-lightgray);
  margin: 0;
}

.footer__logo-title p {
  @include font(12px, 14px, 500, $color-lightgray);
  margin: 0;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  list-style: none;

  @include vp-1439 {
    padding: 0;
    margin: 10px 0 0;
  }
}

.footer__social li {
  margin-right: 25px;

  &:hover {
    opacity: 0.5;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__block-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;

  @include vp-1439 {
    grid-template-columns: 1fr;
  }
}

.footer__title-links {
  grid-column-start: 1;
  grid-column-end: -1;
}

.footer__block-links h3,
.footer__block-contacts h3 {
  @include font(15px, 16px, 400, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 5px 0 20px;
}

.footer__button-links,
.footer__button-contacts {
  display: none;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1439 {
    height: 100%;
  }
}

.footer__links a,
.footer__contacts a {
  @include font(16px, 135%, 400, $color-whitw-70);
  font-family: $second-font;

  &:hover {
    opacity: 0.5;
  }
}

.footer__links li {
  margin-bottom: 5px;
  width: 220px;
}

.footer__block-contacts {
  @include vp-1439 {
    padding-left: 15px;
  }
}

.footer__contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__contacts p {
  @include font(16px, 135%, 400, $color-whitw-70);
  font-family: $second-font;
  margin: 0;
  padding: 0;
}

.footer__block-contacts h3 {
  margin-bottom: 25px;
}

.footer__contacts li {
  margin-bottom: 5px;
}

@media (max-width: $vp-770) {
  .footer {
    padding-top: 50px;

    @include vp-767 {
      height: auto;
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  .footer__wrapper {
    @include vp-767 {
      grid-template-columns: 1fr;
      padding: 0 0 0 0;
    }
  }

  .footer__block-logo {
    @include vp-767 {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer__button-links,
  .footer__button-contacts {
    @include vp-767 {
      display: block;
      width: 15px;
      height: 15px;
      border: none;
      background-color: transparent;
      position: relative;
    }
  }

  .footer__button-links--open,
  .footer__button-contacts--open {
    @include vp-767 {
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        background-color: $color-darkgray;
        top: 5px;
        left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        background-color: $color-darkgray;
        top: 5px;
        left: 0;
        transform: rotate(90deg);
      }
    }
  }

  .footer__button-links--close,
  .footer__button-contacts--close {
    @include vp-767 {
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        background-color: $color-darkgray;
        top: 5px;
        left: 0;
      }
    }
  }

  .footer__title-links,
  .footer__title-contacts {
    @include vp-767 {
      display: flex;
      justify-content: space-between;
      padding: 20px 25px;
    }
  }

  .footer__title-links h3,
  .footer__title-contacts h3 {
    @include vp-767 {
      margin: 0;
    }
  }

  .footer__block-links,
  .footer__block-contacts {
    @include vp-767 {
      border-top: 1px solid $color-whitw-70;
      border-bottom: 1px solid $color-whitw-70;
    }
  }

  .footer__links,
  .footer__contacts {
    @include vp-767 {
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 10px;
    }
  }

  .footer__links a,
  .footer__contacts a {
    @include vp-767 {
      @include font(14px, 25px, 400, $color-whitw-70);
    }
  }

  .footer__contacts p,
  .footer__links p {
    @include vp-767 {
      @include font(14px, 135%, 400, $color-whitw-70);
      margin-bottom: 15px;
    }
  }


  .footer__links--close,
  .footer__contacts--close {
    @include vp-767 {
      display: none;
    }
  }

  .footer__block-contacts {
    @include vp-767 {
      padding: 0;
    }
  }
}

@media (max-width: 320px) {
  .footer__block-logo {
    padding-bottom: 25px;
  }

  .footer__logo {
    transform: translateX(-5px);
    margin: 0;
  }

  .footer__social {
    margin-top: 20px;
  }
}
