.footer {
  height: 280px;
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: $color-dark;

  @include vp-1439 {
    height: 465px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 30.73% 1fr 28.27%;

  @include vp-1439 {
    grid-template-columns: 1fr 1fr;
  }
}

.footer__block-logo {

  @include vp-1439 {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.footer__logo-title {
  padding-left: 15px;
}

.footer__logo h3 {
  @include font(25px, 29px, 700, $color-lightgray);
  margin: 0;
}

.footer__logo-title p {
  @include font(12px, 14px, 500, $color-lightgray);
  margin: 0;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  list-style: none;

  @include vp-1439 {
    padding: 0;
    margin: 10px 0 0;
  }
}

.footer__social li {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__block-links h3,
.footer__block-contacts h3 {
  @include font(15px, 16px, 400, $color-default-white);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 5px 0 20px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 150px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1439 {
    height: 100%;
  }
}

.footer__links a,
.footer__contacts a {
  @include font(16px, 135%, 400, $color-whitw-70);
  font-family: $second-font;
}

.footer__links li {
  margin-bottom: 5px;
  width: 220px;
}

.footer__block-contacts {

  @include vp-1439 {
    padding-left: 15px;
  }
}

.footer__contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__contacts p {
  @include font(16px, 135%, 400, $color-whitw-70);
  font-family: $second-font;
  margin: 0;
  padding: 0;
}

.footer__block-contacts h3 {
  margin-bottom: 25px;
}

.footer__contacts li {
  margin-bottom: 5px;
}
