.header__navigation {
  display: grid;
  grid-template-columns: 215px 1fr 220px;

  @include vp-1919 {
    grid-template-columns: 215px 1fr calc(220px - (1920px - 100vw) / (1920 - 1024) * (220 - 160));
  }

  position: fixed;
  top: 0;
  left: calc(50% - 1920px/2);

  @include vp-1919 {
    left: 0;
  }

  padding-top: 30px;
  padding-bottom: 35px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 100;

  @include vp-1919 {
    padding-top: calc(30px - (1920px - 100vw) / (1920 - 770) * (30 - 20));
    padding-bottom: calc(35px - (1920px - 100vw) / (1920 - 770) * (35 - 25));
  }

  @include vp-1023 {
    grid-template-columns: auto 1fr;
    position: absolute;
  }
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0 165px 0 0;
  list-style: none;

  @include vp-1919 {
    padding-right: calc(165px - (1920px - 100vw) / (1920 - 770) * 180);
  }

  @include vp-1023 {
    padding-right: 0;
    padding-top: 10px;
  }
}

.header__links li:nth-child(2n+1) {
  padding-right: 125px;

  @include vp-1919 {
    padding-right: calc(125px - (1920px - 100vw) / (1920 - 770) * 120);
  }

  @include vp-1023 {
    padding-right: 25px;
  }
}

.header__links a {
  display: flex;
  @include font(16px, 18px, 400, $color-white);
  font-family: $second-font;
}

.header__links p {
  @include vp-1023 {
    display: none;
  }
}

.header__links img {
  margin-right: 15px;
}

.header__links a:hover {
  color: $color-whitw-70;
}

.header__links img:hover {
  opacity: 0.7;
}

.header__button {
  @include font(14px, 16px, 700, $color-lightgray);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  width: 160px;
  height: 40px;
  padding: 10px 15px;
  margin: 5px 60px 0 0;
  border: 1px solid $color-lightgray;
  cursor: pointer;
  user-select: none;

  @include vp-1919 {
    margin-right: calc(60px - (1920px - 100vw) / (1920 - 770) * 60);
  }

  @include vp-1023 {
    display: none;
  }

  &:hover {
    background-color: $color-whitw-20;
  }
}

@media (max-width: 770px) {
  .header__navigation {
    grid-template-columns: auto 1fr;
    padding-top: 20px;
    padding-bottom: 25px;

    @include vp-767 {
      padding-top: calc(20px - (770px - 100vw) / (769 - 320) * (20 - 15));
    }
  }

  .header__links {
    padding-right: 0;
    padding-top: 10px;

    @include vp-767 {
      padding-top: calc(10px - (770px - 100vw) / (769 - 320) * (10 - 5));
    }
  }

  .header__links li {
    padding-right: 0;

    &:last-child {
      margin-right: 15px;
    }

    &:nth-child(2n+1) {
      padding-right: 25px;
    }
  }

  .header__links p {
    display: none;
  }

  .header__button {
    display: none;
  }
}

@media (max-width: 320px) {
  .header__navigation {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .header__links {
    padding-top: 5px;
  }

  .header__links li {
    margin-bottom: 5px;


    &:last-child {
      margin-right: 5px;
    }
  }
}
