.promo {
  padding-bottom: 70px;
}

.promo__content {
  padding-left: calc(250px - (1920px - 100vw) / (1920 - 779) * (250 - 179));
  background-image: url("../img/image-2022.png");
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-bottom: 50px;

  @include vp-767 {
    background-image: none;
    padding-left: 0;
    height: auto;
  }
}

.promo__content h2 {
  @include font(36px, 51px, 400, $color-dark);
  margin: 0 0 15px;
}

.promo__description {
  margin-bottom: calc(42px - (1920px - 100vw) / (1920 - 770) * 42);
}

.promo__description--close {
  height: 150px;
  overflow: hidden;

  @include vp-1439 {
    height: 275px;
  }

  @include vp-1279 {
    height: 260px;
  }

  @include vp-767 {
    height: 210px;
  }
}

.promo__description p {
  @include font(16px, 22px, 400, $color-dark);
  font-family: $second-font;
  margin: 0 0 15px;
}

.promo__button {
  @include font(14px, 16px, 700, $color-lightblue);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 180px;
  padding-top: 14px;
  padding-bottom: 15px;
  background: transparent;
  border: 1px solid $color-lightblue;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $color-dark-15;
  }

  @include vp-767 {
    width: 160px;
    margin-top: 15px;
  }

  @include vp-374 {
    padding: 8px 5px 10px;
  }
}

@media (max-width: $vp-770) {
  .promo {
    padding-bottom: 30px;
  }

  .promo__content h2 {
    margin-bottom: 12px;

    @include vp-767 {
      font-size: calc(36px - (770px - 100vw) / (770 - 320) * (36 - 28));
      line-height: calc(51px - (770px - 100vw) / (770 - 320) * (51 - 39));
    }
  }

  .promo__description p {
    margin-bottom: 20px;

    &:nth-of-type(n+2) {
      margin-bottom: 15px;
    }

    @include vp-767 {
      font-size: calc(16px - (770px - 100vw) / (770 - 320) * (16 - 14));
      line-height: calc(22px - (770px - 100vw) / (770 - 320) * (22 - 19));
    }
  }

  .promo__description {
    margin: 0;
  }

  .promo__button {
    margin-top: 18px;
  }
}
